In [1]:
!ls ./datasets
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

atp_matches_2013.csv atp_matches_2016.csv atp_matches_2019.csv
atp_matches_2014.csv atp_matches_2017.csv atp_matches_2020.csv
atp_matches_2015.csv atp_matches_2018.csv

In [2]:
data_2013 = pd.read_csv("./datasets/atp_matches_2013.csv")
data_2014 = pd.read_csv("./datasets/atp_matches_2014.csv")
data_2015 = pd.read_csv("./datasets/atp_matches_2015.csv")
data_2016 = pd.read_csv("./datasets/atp_matches_2016.csv")
data_2017 = pd.read_csv("./datasets/atp_matches_2017.csv")
data_2018 = pd.read_csv("./datasets/atp_matches_2018.csv")
data_2019 = pd.read_csv("./datasets/atp_matches_2019.csv")
data_2020 = pd.read_csv("./datasets/atp_matches_2020.csv")
data_2013b = data_2013
data_2014b = data_2014
data_2015b = data_2015
data_2016b = data_2016
data_2017b = data_2017
data_2018b = data_2018
data_2019b = data_2019
data_2020b = data_2020
data_array = [data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019, data_2020]
data_all = pd.concat(data_array)

In [3]:
print(data_2020.isnull().any(), data_2020.columns)

tourney_id            False
tourney_name          False
surface               False
draw_size             False
tourney_level         False
tourney_date          False
match_num             False
winner_id             False
winner_seed            True
winner_entry           True
winner_name           False
winner_hand           False
winner_ht              True
winner_ioc            False
winner_age            False
loser_id              False
loser_seed             True
loser_entry            True
loser_name            False
loser_hand            False
loser_ht               True
loser_ioc             False
loser_age             False
score                 False
best_of               False
round                 False
minutes               False
w_ace                  True
w_df                   True
w_svpt                 True
w_1stIn                True
w_1stWon               True
w_2ndWon               True
w_SvGms                True
w_bpSaved              True
w_bpFaced              True
l_ace                  True
l_df                   True
l_svpt                 True
l_1stIn                True
l_1stWon               True
l_2ndWon               True
l_SvGms                True
l_bpSaved              True
l_bpFaced              True
winner_rank            True
winner_rank_points     True
loser_rank             True
loser_rank_points      True
dtype: bool Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [4]:
needless_columns = ['w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points' ]
data_all = data_all.drop(columns = needless_columns, axis=1)

In [5]:
#文献からパクる
data_all.columns
win_count = data_all.groupby("winner_name")["winner_id"].count().reset_index()
win_count.columns=["name","win_count"]
lose_count=data_all.groupby("loser_name")["loser_id"].count().reset_index()
lose_count.columns=["name","lose_count"]
counts=pd.merge(win_count,lose_count,on="name",how="outer")
counts=counts.fillna(0)
counts["sum"] = counts["win_count"] + counts["lose_count"]
counts["win_rate"] = counts["win_count"] / counts["sum"]
counts.head(20)

                           name  win_count  lose_count    sum  win_rate
0               Abdullah Maqdas        4.0         4.0    8.0  0.500000
1                 Adam Pavlasek        6.0         9.0   15.0  0.400000
2          Aditya Hari Sasongko        2.0         4.0    6.0  0.333333
3              Adrian Mannarino      168.0       186.0  354.0  0.474576
4      Adrian Menendez Maceiras        6.0        17.0   23.0  0.260870
5                  Adrian Ungur       11.0        23.0   34.0  0.323529
6          Aisam Ul Haq Qureshi        7.0         6.0   13.0  0.538462
7                     Ajeet Rai        1.0         1.0    2.0  0.500000
8               Akira Santillan        2.0         7.0    9.0  0.222222
9               Albano Olivetti        3.0         7.0   10.0  0.300000
10              Albert Montanes       46.0        52.0   98.0  0.469388
11                 Albert Ramos      175.0       186.0  361.0  0.484765
12                  Alberto Lim        3.0         4.0    7.0  0.428571
13                 Aldin Setkic        2.0         3.0    5.0  0.400000
14  Alejandro Davidovich Fokina        5.0        11.0   16.0  0.312500
15              Alejandro Falla       34.0        54.0   88.0  0.386364
16         Alejandro Gomez Gb42        1.0         1.0    2.0  0.500000
17           Alejandro Gonzalez       18.0        42.0   60.0  0.300000
18             Alejandro Tabilo        2.0         2.0    4.0  0.500000
19         Aleksandr Nedovyesov        6.0        25.0   31.0  0.193548

In [6]:
counts2 = counts[counts["sum"] >= 20]
# counts2 = counts2.dorp(columns ="index", axis=1)
counts2 = counts2.sort_values(by="sum", ascending=False).reset_index()
counts2 = counts2.drop(columns ="index", axis=1)
player_number = 30
players = counts2[0 : player_number]["name"].unique()
print(players)

['Novak Djokovic' 'Rafael Nadal' 'Roberto Bautista Agut' 'Roger Federer'
 'Fabio Fognini' 'Dominic Thiem' 'Kei Nishikori' 'Marin Cilic'
 'John Isner' 'Grigor Dimitrov' 'David Goffin' 'Stan Wawrinka'
 'Gilles Simon' 'Milos Raonic' 'Tomas Berdych' 'Joao Sousa'
 'Richard Gasquet' 'Benoit Paire' 'David Ferrer' 'Philipp Kohlschreiber'
 'Gael Monfils' 'Fernando Verdasco' 'Andy Murray' 'Kevin Anderson'
 'Albert Ramos' 'Feliciano Lopez' 'Adrian Mannarino' 'Jeremy Chardy'
 'Andreas Seppi' 'Sam Querrey']

In [7]:
dic_target_player = {}
 
for player in players:
    if player not in dic_target_player:
        dic_target_player[player] = len(dic_target_player)+1
        
dic_target_player

{'Novak Djokovic': 1,
 'Rafael Nadal': 2,
 'Roberto Bautista Agut': 3,
 'Roger Federer': 4,
 'Fabio Fognini': 5,
 'Dominic Thiem': 6,
 'Kei Nishikori': 7,
 'Marin Cilic': 8,
 'John Isner': 9,
 'Grigor Dimitrov': 10,
 'David Goffin': 11,
 'Stan Wawrinka': 12,
 'Gilles Simon': 13,
 'Milos Raonic': 14,
 'Tomas Berdych': 15,
 'Joao Sousa': 16,
 'Richard Gasquet': 17,
 'Benoit Paire': 18,
 'David Ferrer': 19,
 'Philipp Kohlschreiber': 20,
 'Gael Monfils': 21,
 'Fernando Verdasco': 22,
 'Andy Murray': 23,
 'Kevin Anderson': 24,
 'Albert Ramos': 25,
 'Feliciano Lopez': 26,
 'Adrian Mannarino': 27,
 'Jeremy Chardy': 28,
 'Andreas Seppi': 29,
 'Sam Querrey': 30}

In [8]:
LW = []
 
for player_a in players:
    for player_b in players:
        
        df_tmp = data_all[
            (data_all['winner_name'] == player_a) &
            (data_all['loser_name'] == player_b)
        ]
        for _ in range(len(df_tmp)):
            LW.append([dic_target_player[player_b], dic_target_player[player_a]])
            
        df_tmp = data_all[
            (data_all['winner_name'] == player_b) &
            (data_all['loser_name'] == player_a)
        ]
        
        for _ in range(len(df_tmp)):
            LW.append([dic_target_player[player_a], dic_target_player[player_b]])
LW = np.array(LW, dtype=np.int32)
print(LW)

[[ 2  1]
 [ 2  1]
 [ 2  1]
 ...
 [30 28]
 [30 29]
 [30 29]]

In [9]:
print(len(LW))

4266

In [ ]:
import pystan
print("aaa")

stan_data = {'N':  len(dic_target_player), 'G':len(LW),  'LW': LW}
# fit1 = pystan.stan(file='./mcmc.stan',data=stan_data, iter=1000, chains=4, thin=1)
# la1 = fit1.extract()
# fit1

WARNING:pystan:DeprecationWarning: pystan.stan was deprecated in version 2.17 and will be removed in version 3.0. Compile and use a Stan program in separate steps.

aaa

INFO:pystan:COMPILING THE C++ CODE FOR MODEL anon_model_7c1c9dfca0646a97ed5b69abfb21b1ef NOW.

In [ ]:
! gcc --version